<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.fitnessband">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/push_icon4"
        android:label="Push"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginActivity" />

        <!-- facebook meta data요소 , Facebook에 대한 활동, Chrome 맞춤 탭에 대한 활동 및 인텐트 필터 추가 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".UserprofileActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PushupExplain" />

        <activity android:name=".SitupExplain"></activity>

        <activity android:name=".SquatExplain"></activity>

        <activity android:name=".PlankExplain"></activity>

        <activity android:name=".joggingExplain"></activity>

        <activity android:name=".PushupCounting"></activity>

        <activity android:name=".StoreExercise"></activity>

        <activity android:name=".Exercise_Report"></activity>

        <activity android:name=".Material_Calendar"></activity>

    </application>

</manifest>